.main {
    padding: 10px 15vmax;
    width: 100%;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);

    input::-webkit-inner-spin-button {
        display: none;
    }
}

.span {
    // margin-left: 13vmax;
    font-size: 1.3vmax;
    font-weight: bold;
    color: #767676;
}

.form {
    margin-left: 60px;
    padding: 0px 5px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #fff;



    labal {
        font-size: .9rem;
        font-weight: 600;
        color: #6c6c6c;
    }

    input,
    textarea,
    select {
        border: 1px solid rgba(93, 93, 93, 0.363);
        width: 25vw;
        margin-left: 2vmax;
        padding: 5px 20px;
    }
}


.main .superClass {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    margin-left: 80px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 33%;
        background-color: rgb(255, 255, 255);
    }

    label {
        margin-right: 10px;
        font-size: .8rem;
        font-weight: 600;
    }

    input {
        border: 1px solid rgba(93, 93, 93, 0.363);
        width: 60%;
        padding: 5px 20px;
    }


}

.main .submit {
    display: flex;
    justify-content: center;

    input[type="submit"] {
        margin-top: 2vmax;
        margin-left: 10vmax;
        vertical-align: middle;
        width: fit-content;
        text-transform: capitalize;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        background-color: #3b9e3b;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    }

    input[type="submit"]:hover {
        background-color: #12ad12ad;
    }
}

.dimensionPricing {
    // background-color: red;
    margin-top: 3vmax;
    border: 1px solid transparent;
    display: flex;

    .titleLabel {
        margin-left: 13vmax;
        font-size: 1.2vmax;
        font-weight: bold;
        color: #878787;
    }

    .dimensioniForm {
        margin-left: 3vmax;
        padding: 0px 5px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2vmax;
        background-color: #fff;

        labal {
            font-size: .8rem;
            font-weight: 600;
        }

        input,
        textarea,
        select {
            border: 1px solid rgba(93, 93, 93, 0.363);
            width: 15vw;
            margin-left: 2vmax;
            padding: 5px 20px;
        }

    }
}

@media(max-width:450px) {
    .main {
        overflow: hidden;
        width: 100%;
        margin-left: -15vmax;
        text-transform: capitalize;
        background-color: rgb(255, 255, 255);

        input::-webkit-inner-spin-button {
            display: none;
        }
    }

    .form {
        margin-left: -.5vmax;
        padding: 0px 1.5vmax;
        width: 60vw;
        margin-top: 1.5vmax;

        .warrantyDesc {
            margin-left: -5vmax;
        }

        input {
            margin-left: 3vmax;
        }
    }

    .main .superClass {
        margin-top: .8vmax;
        background-color: rgb(255, 255, 255);
        padding: 1.5vmax 1vmax;
        margin-left: 4.5vmax;
        flex-direction: column;
        width: 20vw;

        div {
            width: 35vw;
        }

        label {
            font-size: .8rem;
        }

        input {
            border: .1vmax solid rgba(93, 93, 93, 0.363);
            width: 30vw;
            padding: .5vmax 1vmax;
            margin: .7vmax 9.7vmax;
        }

        .two>input {
            margin-left: 9.4vmax;
        }

        .three>input {
            margin-left: 10.8vmax;
        }

        .indicatorOne>input {
            margin-left: 5vmax;
        }

        .indicatorTwo>input {
            margin-left: 5.3vmax;
        }

        .indicatorThree>input {
            margin-left: 6.8vmax;
        }

        .size>input {
            margin-left: 6.5vmax;
        }

        .values>.two {
            margin-left: 4vmax;
        }

        .values>.three {
            margin-left: 6vmax;
        }
    }

    .main .submitHandle {
        input[type="submit"] {
            padding: .8vmax 2vmax;
            border-radius: .5vmax;
        }
    }

    .main input[type="file"] {
        // width: 12vmax;
        height: 5vmax;
        font-size: 2vmax;
        margin-top: 2vmax;
    }

    .main .fileSubmit {
        padding: .5vmax 5vmax;
        font-size: 6vmax;
    }
}