.main{
    padding: 10px 20vmax;
    width: 100%;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
    input::-webkit-inner-spin-button{
        display: none;
    }
}

.form{
    margin-left: 60px;
    padding: 0px 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #fff;

    label{
        font-size: .8rem;
        font-weight: 600;
    }

    input , textarea , select{
        border: 1px solid rgba(93, 93, 93, 0.363);
        width: 30vw;
        margin-left: 2vmax;
        padding: 5px 20px;
    }    
}


.main .superClass{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    margin-left: 80px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 33%;
        background-color: rgb(255, 255, 255);
    }

    label{
        margin-right: 10px;
        font-size: .8rem;
        font-weight: 600;
    }

    input{
        border: 1px solid rgba(93, 93, 93, 0.363);
        width: 60%;
        padding: 5px 20px;
    }

    
}

.main .submit{
    display: flex;
    justify-content: center;

    input[type="submit"]{
        vertical-align: middle;
        width: fit-content;
        text-transform: capitalize;
        padding: 5px 20px;
        border-radius: 5px;
        color: #fff;
        background-color: #6de76d;
        border:none;
        outline: none;
        cursor: pointer;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    }

    input[type="submit"]:hover{
        background-color: #6de76dad;
    }
}

@media(max-width:450px){
    .main{
        overflow: hidden;
        width: 100%;
        margin-left: -15vmax ;
        text-transform: capitalize;
        background-color: rgb(255, 255, 255);
    
        input::-webkit-inner-spin-button {
            display: none;
        }
    }

    .form {
    margin-left: -.5vmax;
    padding: 0px 1.5vmax;
    width: 60vw;
    margin-top: 1.5vmax;

        .warrantyDesc{
            margin-left: -5vmax;
        }
        input{
            margin-left: 3vmax;
        }
    }

    .main .superClass {
    margin-top: .8vmax;
    background-color: rgb(255, 255, 255);
    padding: 1.5vmax 1vmax;
    margin-left: 4.5vmax;
    flex-direction: column;
    width: 20vw;

        div {
            width: 35vw;
        }

        label {
            font-size: .8rem;
        }

        input {
            border: .1vmax solid rgba(93, 93, 93, 0.363);
            width: 30vw;
            padding: .5vmax 1vmax;
            margin: .7vmax 9.7vmax;
        }
        .two>input{
            margin-left: 9.4vmax;
        }
        .three>input{
            margin-left: 10.8vmax;
        }
        .indicatorOne>input{
            margin-left: 5vmax;
        }
        .indicatorTwo>input{
            margin-left: 5.3vmax;
        }
        .indicatorThree>input{
            margin-left: 6.8vmax;
        }
        .size>input{
            margin-left: 6.5vmax;
        }
        .values>.two{
            margin-left: 4vmax;
        }
        .values>.three{
            margin-left: 6vmax;
        }
    }
.main .submitHandle {
    input[type="submit"] {
        padding: .8vmax 2vmax;
        border-radius: .5vmax;
    }
}
.main input[type="file"]{
    // width: 12vmax;
    height: 5vmax;
    font-size: 2vmax;
    margin-top: 2vmax;
}
.main .fileSubmit{
   padding: .5vmax .9vmax;
   font-size: 2vmax;
}
}


