// for outer div

$widthOuter : 80vw;
$heightOuter : 5vh;
$displayOuter : flex;


// for inner div 

$widthinner : 35vw;
$heightinner : $heightOuter;
$displayinner : $displayOuter;
.main{
    background-color: #fff;
    position: relative;
    // height: 100vh;
}
.title{
    position: absolute;
    left: 2vmax;
    top: 1vmax;
    font-size: 1.7vmax;
}

.allProperty{
    margin-top: 7vmax;
    margin-left: 15vmax;
    background-color: #fff;
}

.outer {
    width: $widthOuter;
    height: $heightOuter;
    // display: $displayOuter;
    justify-content: space-between;
    background-color: #fff;
    margin: 3vmax 3vmax;
}

.inner{
    width: $widthinner;
    height: $heightinner;
    display: $displayinner;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
}

.inner>p:first-child{
    font-size: 1.3vmax;
}
.inner>p:last-child {
    font-size: 1.1vmax;
}

.value{
    position: absolute;
    left: 22vmax;
}

button{
    background-color:rgb(42, 194, 42);
    width: 15vmax;
    height: 3vmax;
    margin: 2vmax 33vmax;
    border: none;
    outline: none;
    border-radius: .6vmax;
    color: white;
}

button:hover{
    background-color: rgb(27, 145, 27);
}


